<h2>Create New Post Type</h2>

<form action="/post_types" method="post">
  <input type="text" id="post_type" name="post_type[description]" placeholder="New Post Type:">
  <br></br>
</form>

<a class="button" href="/post_types">Post Types</a> | <a class="button" href="/posts">Back to All Posts</a>  