<h2>Create New Post Type</h2>

<form action="/post_types" method="post">
  <label for="type"> Type:</label>
  <input type="text" id="post_type" name="post_type[description]">
  <br></br>
  
</form>


<a class="button" href="/post_types">Categories</a>
<a class="button" href="/">Home</a>  