<h2>All Request Types</h2>

<% RequestType.all.each do |request_type| %>
  <div class="request_types">
    <h2>Request Type: <%= request_type.description %></h2>
  </div><br>
<% end %>

<a class="button" href="/request_types">Request Types</a>
<a class="button" href="/">Home</a>