<h2>All Request Types</h2>

<% @request_types.each do |request_type| %>
  <div class="request_types">
    <h2>Request Type: <%= request_type.type %></h2>
  </div><br>
<% end %>

<a class="button" href="/types">Request Types</a>
<a class="button" href="/">Home</a>