<h2>Create New Request Type</h2>

<form action="/request_types" method="post">
  <label for="type"> Type:</label>
  <input type="text" id="request_type" name="request[type]">
  <br></br>
  
</form>


<a class="button" href="/request_types">Categories</a>
<a class="button" href="/">Home</a>  