<p>Welcome, </p>


<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th>Request Type</th>
      <th>Contact Email</th>
    </tr>
  </thead>

  <tbody>
       <%  Request.all.each do |user_request| %>
        <tr>
         <td> <%= user_request.category  %> </td>
         <td> <%= user_request.description  %> </td>
         <td> <%= user_request.rtype  %> </td>
         <td> <%= user_request.user.email  %> </td>
        </tr>
       <% end %>

 </tbody>
</table>


<a href="/requests/new">Create Request</a> | <a href="/logout">Log Out</a>

