<p>Welcome, </p>


<h2> Category | Description | Request Type | Contact Email </h2>
<h3>-------------------------------------------------------</h3>

<% Request.all.each do |user_request| %>
  <div class="requests">
    <h2><%= user_request.category %> | <%= user_request.description %> | <%= user_request.rtype %> | <%= user_request.user.email %> </h2>
  </div><br>
<% end %>


<a href="/requests/new">Create Request</a> | <a href="/logout">Log Out</a>

