<% if Helpers.is_logged_in?(session) %>
<%= @error %>

  <h3>Create Request</h3>

  <form action='/requests' method="post">
    Category:

    <%Category.all.each do |category|%>
      <br><input type="checkbox" id="category_<%= category.id %>" name="category[name]" value="<%=category.id %>"><%=category.name%>
    <%end%>
    <br></br    
    
    Description:
    <input type="text" name="description"><br><br>    
    
    Type:
    <input type="text" name="type"><br><br>     
    
    Create Your Request:

    <input type="submit" name="submit" id="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Requests </h1>
  <% end %>