<h2>All Categories</h2>

<% Category.all.each do |category| %>
  <div class="categories">
    <h2>Category Name: <%= category.name %></h2>
  </div><br>
<% end %>

<a class="button" href="/categories">Categories</a> | <a class="button" href="/posts">Back to All Posts</a>