  <h2>Create New Category</h2>

<form action="/categories" method="post">
  <label for="name"> Name:</label>
  <input type="text" id="category_name" name="category[name]">
  <br></br>
  
</form>


<a class="button" href="/categories">Categories</a>
<a class="button" href="/">Home</a>  