  <h2>Create New Category</h2>

<form action="/categories" method="post">
  <input type="text" id="category_name" name="category[name]" placeholder="New Category:">
  <br></br>
</form>


<a class="button" href="/categories">Categories</a> | <a class="button" href="/">Back to All Posts</a>  