<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
    <title>Neighborly Deals</title>
  </head>
  <body>

    <div class="container">

      <%=yield%>

    </div>

  </body>
</html>